body {
    font-family: Arial;
    font-size: 120%;
  }

  a {
    color: #332972;
    text-decoration: none;
  }
  a:hover{
    color: #AD41E1;
  }

  .scores{
      color:#332972
  }
  button{
     padding: 7px;
     font-size: 100%;
     display: block;
     margin: 5px;
     background-color: #332972;
     color: white;
     border-radius: 10%;
     list-style: numeric;
  }

  button:hover {
    background-color: #AD41E1;
  }
 
  .hero {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }

  .result{
    font-style: italic;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #A2A2A2;
  }

  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }